:root {
    --color-blanco: rgb(231, 231, 231);
    --color-main-oscuro: darkslategrey;
    --color-main-medio: rgb(82, 128, 128);
    --color-main-claro: rgb(159, 192, 192);
    --color-brillo-gradiente: rgb(195, 212, 212);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
}

body {
    font-size: larger;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

header, footer {
    background-color: var(--color-main-oscuro);
    color: var(--color-blanco);
}
header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding-left: 50px;
}
footer{
    padding: 10px 5px;
    font-size: smaller;
}
h1 {
    text-align: center;
    padding: 20px;
}


main {
    padding: 50px 10vw;
    background-image: url(../assets/fondo.jpg);
    background-color: rgb(27, 27, 27);
}

section {
    background-color: var(--color-main-claro);
    border-radius: 2px;
}
h2 {
    text-align: center;
    padding: 10px;
}
#texto {
    border-bottom: 5px solid rgb(27, 27, 27);
}
#btnEmpezar {
    margin-left: 10%;
    width: 80%;
    height: 50px;
}
#botones {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    display: none;
}
button {
    /* modificaciones del boton 8 en : 
        https://codepen.io/thebabydino/pen/ajLVGN
     */
	min-height: 50px;
	margin: .5em;
    padding: 3px;

	border: solid .125em transparent;
	border-radius: .5*2em;
	color: white;
	font-weight: 900;
    font-size: 1em;
	filter: contrast(.65);
	transition: .2s ease-out;
	cursor: pointer;
	&:hover {
		outline: none;
		filter: none;
	}
	background: 
		linear-gradient(var(--color-main-oscuro), var(--color-main-medio) 33%) content-box, 
		linear-gradient(var(--color-brillo-gradiente), var(--color-main-oscuro)) border-box;
}
button::first-letter{
    text-transform: capitalize;
}


#btnEstadisticas {
    padding-right: 1.5vw;
    height: 50px;
    cursor: pointer;
}
#estadisticas {
    display: none;
    position: absolute;
    top: 10vh;
    right: calc(2vw + 50px);
    padding-bottom: 5px;
    border: 5px solid var(--color-main-medio); 
    max-height: 90vh;
    max-width: calc(100vw - 2*(2vw + 50px));
    overflow-y: auto;
}
#estadisticas div {
    padding-bottom: 10px;
}
#estadisticas div > * {
    padding: 0 20px;
}
#estadisticas h3 {
    border-top: 5px solid var(--color-main-medio);
}
#estadisticas h4 {
    padding-top: 5px;
}
#estadisticas hr {
    margin-top: 5px;
}

/* sweet alert styles */
.swal-modal {
    border: 5px double var(--color-main-medio);
    background-image: radial-gradient(var(--color-brillo-gradiente) 35%, var(--color-main-claro));
}
.swal-icon--success::after, .swal-icon--success::before, .swal-icon--success__hide-corners {
	background: transparent;
}
.swal-icon--success__line {
    background-color: var(--color-main-medio);
}
.swal-icon--success {
	border-color: var(--color-main-medio);
}

.swal-title {
    font-size: 30px;
}
.swal-text {
    font-size: 21px;
    text-align: center;
}

.swal-footer {
    text-align: center;
}
.swal-button {
    padding: 4px;
    width: 70px;
}

.errorAlert {
    border: 5px solid rgb(216, 158, 83);
    background-color: var(--color-blanco);
    background-image: none;
}




@media (max-width: 650px) {
    #botones {
        grid-template-columns: 1fr;
    }
}
